<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    管理员角色权限的MyBatis映射文件.
    作者：余展鹏.
    创建时间：2019/12/13 17:23:13.
    文件由鹏业软件模型工具生成(模板名称：JavaMyBatisMap),一般不应直接修改此文件.
    Copyright (C) 2008 - 鹏业软件公司
-->

<mapper namespace="com.pengesoft.fwzlxt.domain.dao.RoleDao">

    <resultMap type="com.pengesoft.fwzlxt.domain.Role" id="roleResultMap">
        <id property="role_id" column="role_id" />
        <result property="role_range" column="role_range" />
    </resultMap>

    <sql id="roleBaseCol">
        t.role_id,t.role_range
    </sql>

    <sql id="roleWhereSql">
        <trim prefix="WHERE" prefixOverrides="and |or ">
            <if test="role_id != null">and t.role_id = #{role_id}</if>
            <if test="role_id_L != null"><![CDATA[ and t.role_id >= #{role_id_L} and t.role_id <= #{role_id_H} ]]></if>
            <if test="role_id_Enum != null">
                and t.role_id in
                <foreach collection="role_id_Enum" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="role_range != null">
                <if test="role_range == ''">
                    and (t.role_range is null or t.role_range = '')
                </if>
                <if test="role_range != ''">
                    and t.role_range like #{role_range}
                </if>
            </if>
            <if test="role_range_Enum != null">
                and t.role_range in
                <foreach collection="role_range_Enum" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="_default_mulattr != null">
                and (
                <foreach collection="_default_mulattr" item="item" separator=" or ">
                    <if test="item.name == 'role_id'">t.role_id = #{item.value}</if>
                    <if test="item.name == 'role_range'">t.role_range like #{item.value}</if>
                </foreach>
                )
            </if>
        </trim>
    </sql>

    <sql id="roleOrderSql">
        <trim prefix="ORDER BY" suffixOverrides=",">
            <if test="_orderBys != null">
                <foreach collection="_orderBys" item="item" open="" separator="," close="">
                    <if test="item == 'role_id'">t.role_id</if>
                    <if test="item == 'role_id_D'">t.role_id desc</if>
                    <if test="item == 'role_range'">t.role_range</if>
                    <if test="item == 'role_range_D'">t.role_range desc</if>
                </foreach>
            </if>
        </trim>
    </sql>

    <insert id="insertRole" parameterType="com.pengesoft.fwzlxt.domain.Role">
        insert into RoleTable(

            role_range
        )values(

            #{role_range,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateRole" parameterType="com.pengesoft.fwzlxt.domain.Role">
        update RoleTable set
            role_range = #{role_range,jdbcType=VARCHAR}
        where role_id=#{role_id,jdbcType=INTEGER}
    </update>

    <delete id="deleteRole" parameterType="com.pengesoft.fwzlxt.domain.Role">
        delete from RoleTable where role_id=#{role_id,jdbcType=INTEGER}
    </delete>


    <select id="getBaseRole" parameterType="com.pengesoft.fwzlxt.domain.Role" resultMap="roleResultMap">
        select
        <include refid="roleBaseCol" />
        from RoleTable t where t.role_id=#{role_id,jdbcType=INTEGER}
    </select>

    <select id="getRole" parameterType="com.pengesoft.fwzlxt.domain.Role" resultMap="roleResultMap">
        select t.* from RoleTable t where t.role_id=#{role_id,jdbcType=INTEGER}
    </select>

    <select id="queryRoleCount" parameterType="java.util.Map" resultType="int">
        select count(*) from RoleTable t
        <include refid="roleWhereSql" />
    </select>

    <select id="queryBaseRoleList" parameterType="java.util.Map" resultMap="roleResultMap">
        select
        <include refid="roleBaseCol" />
        from RoleTable t
        <include refid="roleWhereSql" />
        <include refid="roleOrderSql" />
    </select>

    <select id="queryRoleList" parameterType="java.util.Map" resultMap="roleResultMap">
        select t.* from RoleTable t
        <include refid="roleWhereSql" />
        <include refid="roleOrderSql" />
    </select>
</mapper>