<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    订单信息的MyBatis映射文件.
    作者：余展鹏.
    创建时间：2019/12/13 17:22:00.
    文件由鹏业软件模型工具生成(模板名称：JavaMyBatisMap),一般不应直接修改此文件.
    Copyright (C) 2008 - 鹏业软件公司
-->

<mapper namespace="com.pengesoft.fwzlxt.domain.dao.OrderInfoDao">

    <resultMap type="com.pengesoft.fwzlxt.domain.OrderInfo" id="orderInfoResultMap">
        <id property="order_id" column="order_id" />
        <result property="con_id" column="con_id" />
        <result property="admin_id" column="admin_id" />
        <result property="user_id" column="user_id" />
        <result property="house_months" column="house_months" />
        <result property="house_pledge" column="house_pledge" />
        <result property="order_shouldPay" column="order_shouldPay" />
        <result property="order_alreadyPay" column="order_alreadyPay" />
        <result property="order_time" column="order_time" />
        <result property="order_isPaid" column="order_isPaid" />
    </resultMap>

    <sql id="orderInfoBaseCol">
        t.order_id,t.con_id,t.admin_id,t.user_id,t.house_months,t.house_pledge,t.order_shouldPay,t.order_alreadyPay,t.order_time,t.order_isPaid
    </sql>

    <sql id="orderInfoWhereSql">
        <trim prefix="WHERE" prefixOverrides="and |or ">
            <if test="order_id != null">and t.order_id = #{order_id}</if>
            <if test="order_id_L != null"><![CDATA[ and t.order_id >= #{order_id_L} and t.order_id <= #{order_id_H} ]]></if>
            <if test="order_id_Enum != null">
                and t.order_id in
                <foreach collection="order_id_Enum" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="con_id != null">and t.con_id = #{con_id}</if>
            <if test="con_id_L != null"><![CDATA[ and t.con_id >= #{con_id_L} and t.con_id <= #{con_id_H} ]]></if>
            <if test="con_id_Enum != null">
                and t.con_id in
                <foreach collection="con_id_Enum" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="admin_id != null">and t.admin_id = #{admin_id}</if>
            <if test="admin_id_L != null"><![CDATA[ and t.admin_id >= #{admin_id_L} and t.admin_id <= #{admin_id_H} ]]></if>
            <if test="admin_id_Enum != null">
                and t.admin_id in
                <foreach collection="admin_id_Enum" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="user_id != null">and t.user_id = #{user_id}</if>
            <if test="user_id_L != null"><![CDATA[ and t.user_id >= #{user_id_L} and t.user_id <= #{user_id_H} ]]></if>
            <if test="user_id_Enum != null">
                and t.user_id in
                <foreach collection="user_id_Enum" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="house_months != null">and t.house_months = #{house_months}</if>
            <if test="house_months_L != null"><![CDATA[ and t.house_months >= #{house_months_L} and t.house_months <= #{house_months_H} ]]></if>
            <if test="house_months_Enum != null">
                and t.house_months in
                <foreach collection="house_months_Enum" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="house_pledge != null">and t.house_pledge = #{house_pledge}</if>
            <if test="house_pledge_L != null"><![CDATA[ and t.house_pledge >= #{house_pledge_L} and t.house_pledge <= #{house_pledge_H} ]]></if>
            <if test="house_pledge_Enum != null">
                and t.house_pledge in
                <foreach collection="house_pledge_Enum" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="order_shouldPay != null">and t.order_shouldPay = #{order_shouldPay}</if>
            <if test="order_shouldPay_L != null"><![CDATA[ and t.order_shouldPay >= #{order_shouldPay_L} and t.order_shouldPay <= #{order_shouldPay_H} ]]></if>
            <if test="order_shouldPay_Enum != null">
                and t.order_shouldPay in
                <foreach collection="order_shouldPay_Enum" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="order_alreadyPay != null">and t.order_alreadyPay = #{order_alreadyPay}</if>
            <if test="order_alreadyPay_L != null"><![CDATA[ and t.order_alreadyPay >= #{order_alreadyPay_L} and t.order_alreadyPay <= #{order_alreadyPay_H} ]]></if>
            <if test="order_alreadyPay_Enum != null">
                and t.order_alreadyPay in
                <foreach collection="order_alreadyPay_Enum" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="order_time != null">
                <if test="order_time == ''">
                    and (t.order_time is null or t.order_time = '')
                </if>
                <if test="order_time != ''">
                    and t.order_time like #{order_time}
                </if>
            </if>
            <if test="order_time_Enum != null">
                and t.order_time in
                <foreach collection="order_time_Enum" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="order_isPaid != null">
                <if test="order_isPaid == ''">
                    and (t.order_isPaid is null or t.order_isPaid = '')
                </if>
                <if test="order_isPaid != ''">
                    and t.order_isPaid like #{order_isPaid}
                </if>
            </if>
            <if test="order_isPaid_Enum != null">
                and t.order_isPaid in
                <foreach collection="order_isPaid_Enum" item="item" open="(" separator="," close=")">#{item}</foreach>
            </if>
            <if test="_default_mulattr != null">
                and (
                <foreach collection="_default_mulattr" item="item" separator=" or ">
                    <if test="item.name == 'order_id'">t.order_id = #{item.value}</if>
                    <if test="item.name == 'con_id'">t.con_id = #{item.value}</if>
                    <if test="item.name == 'admin_id'">t.admin_id = #{item.value}</if>
                    <if test="item.name == 'user_id'">t.user_id = #{item.value}</if>
                    <if test="item.name == 'house_months'">t.house_months = #{item.value}</if>
                    <if test="item.name == 'house_pledge'">t.house_pledge = #{item.value}</if>
                    <if test="item.name == 'order_shouldPay'">t.order_shouldPay = #{item.value}</if>
                    <if test="item.name == 'order_alreadyPay'">t.order_alreadyPay = #{item.value}</if>
                    <if test="item.name == 'order_time'">t.order_time like #{item.value}</if>
                    <if test="item.name == 'order_isPaid'">t.order_isPaid like #{item.value}</if>
                </foreach>
                )
            </if>
        </trim>
    </sql>

    <sql id="orderInfoOrderSql">
        <trim prefix="ORDER BY" suffixOverrides=",">
            <if test="_orderBys != null">
                <foreach collection="_orderBys" item="item" open="" separator="," close="">
                    <if test="item == 'order_id'">t.order_id</if>
                    <if test="item == 'order_id_D'">t.order_id desc</if>
                    <if test="item == 'con_id'">t.con_id</if>
                    <if test="item == 'con_id_D'">t.con_id desc</if>
                    <if test="item == 'admin_id'">t.admin_id</if>
                    <if test="item == 'admin_id_D'">t.admin_id desc</if>
                    <if test="item == 'user_id'">t.user_id</if>
                    <if test="item == 'user_id_D'">t.user_id desc</if>
                    <if test="item == 'house_months'">t.house_months</if>
                    <if test="item == 'house_months_D'">t.house_months desc</if>
                    <if test="item == 'house_pledge'">t.house_pledge</if>
                    <if test="item == 'house_pledge_D'">t.house_pledge desc</if>
                    <if test="item == 'order_shouldPay'">t.order_shouldPay</if>
                    <if test="item == 'order_shouldPay_D'">t.order_shouldPay desc</if>
                    <if test="item == 'order_alreadyPay'">t.order_alreadyPay</if>
                    <if test="item == 'order_alreadyPay_D'">t.order_alreadyPay desc</if>
                    <if test="item == 'order_time'">t.order_time</if>
                    <if test="item == 'order_time_D'">t.order_time desc</if>
                    <if test="item == 'order_isPaid'">t.order_isPaid</if>
                    <if test="item == 'order_isPaid_D'">t.order_isPaid desc</if>
                </foreach>
            </if>
        </trim>
    </sql>

    <insert id="insertOrderInfo" parameterType="com.pengesoft.fwzlxt.domain.OrderInfo">
        insert into OrderInfoTable(

            con_id,
            admin_id,
            user_id,
            house_months,
            house_pledge,
            order_shouldPay,
            order_alreadyPay,
            order_time,
            order_isPaid
        )values(

            #{con_id,jdbcType=INTEGER},
            #{admin_id,jdbcType=INTEGER},
            #{user_id,jdbcType=INTEGER},
            #{house_months,jdbcType=INTEGER},
            #{house_pledge,jdbcType=DOUBLE},
            #{order_shouldPay,jdbcType=DOUBLE},
            #{order_alreadyPay,jdbcType=DOUBLE},
            #{order_time,jdbcType=VARCHAR},
            #{order_isPaid,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateOrderInfo" parameterType="com.pengesoft.fwzlxt.domain.OrderInfo">
        update OrderInfoTable set
            con_id = #{con_id,jdbcType=INTEGER},
            admin_id = #{admin_id,jdbcType=INTEGER},
            user_id = #{user_id,jdbcType=INTEGER},
            house_months = #{house_months,jdbcType=INTEGER},
            house_pledge = #{house_pledge,jdbcType=DOUBLE},
            order_shouldPay = #{order_shouldPay,jdbcType=DOUBLE},
            order_alreadyPay = #{order_alreadyPay,jdbcType=DOUBLE},
            order_time = #{order_time,jdbcType=VARCHAR},
            order_isPaid = #{order_isPaid,jdbcType=VARCHAR}
        where order_id=#{order_id,jdbcType=INTEGER}
    </update>

    <delete id="deleteOrderInfo" parameterType="com.pengesoft.fwzlxt.domain.OrderInfo">
        delete from OrderInfoTable where order_id=#{order_id,jdbcType=INTEGER}
    </delete>


    <select id="getBaseOrderInfo" parameterType="com.pengesoft.fwzlxt.domain.OrderInfo" resultMap="orderInfoResultMap">
        select
        <include refid="orderInfoBaseCol" />
        from OrderInfoTable t where t.order_id=#{order_id,jdbcType=INTEGER}
    </select>

    <select id="getOrderInfo" parameterType="com.pengesoft.fwzlxt.domain.OrderInfo" resultMap="orderInfoResultMap">
        select t.* from OrderInfoTable t where t.order_id=#{order_id,jdbcType=INTEGER}
    </select>

    <select id="queryOrderInfoCount" parameterType="java.util.Map" resultType="int">
        select count(*) from OrderInfoTable t
        <include refid="orderInfoWhereSql" />
    </select>

    <select id="queryBaseOrderInfoList" parameterType="java.util.Map" resultMap="orderInfoResultMap">
        select
        <include refid="orderInfoBaseCol" />
        from OrderInfoTable t
        <include refid="orderInfoWhereSql" />
        <include refid="orderInfoOrderSql" />
    </select>

    <select id="queryOrderInfoList" parameterType="java.util.Map" resultMap="orderInfoResultMap">
        select t.* from OrderInfoTable t
        <include refid="orderInfoWhereSql" />
        <include refid="orderInfoOrderSql" />
    </select>
</mapper>